{% extends 'base.html.twig' %}

{% block title %}All cereals{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Index of Cereals</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    {% if products|length == 0 %}
        <div class="alert alert-info" role="alert">
            No cereals found.
        </div>
    {% else %}
        <ul class="list-group list-group-flush">
            <div class="mb-2">
                <a class="btn btn-primary" href="{{ path('single_product_create') }}">Create new cereal</a>
            </div>
            {% for product in products %}
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                {{ product.name }}
                <div class="btn-group">
                    <a href="{{ path('single_product_show', {'id': product.id}) }}" class="btn btn-sm btn-outline-primary">Show</a>
                    <a href="{{ path('single_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{{ path('single_product_delete', {'id': product.id}) }}" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="mt-5">
        <a class="btn btn-primary" href="{{ path('single_product_create') }}">Create new cereal</a>
    </div>
{% endblock %}
